[Unit]
Description=SDL DB Backup Runner
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory={{WORKING_DIRECTORY}}
Environment=BACKUP_ENV_FILE={{ENV_FILE}}
ExecStart=/usr/bin/env go run ./main.go
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
TimeoutStartSec=0
StandardOutput=journal
StandardError=journal
